.chat {
  display: flex;
  max-width: 1200px;
  height: 600px;
  max-height: 720px;
  margin: 10px auto;

  &__sidebar {
    height: 100%;
    background-color: rgb(233, 233, 233);
    width: 500px;
    border-right: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);

    &-header {
      $header: &;
      display: block;
      border-bottom: 1px solid rgb(216, 216, 216);
      padding-bottom: 20px;

      &-avatar {
        position: relative;
        flex: 0 0 50px;
        width: 50px;
        height: 50px;
        margin: 10px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      &--online {
        #{$header}-avatar {
          &::before {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            content: '';
            background-image: url('check.png');
            background-size: 15px;
            border-radius: 30px;
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    &-dialogs {
      height: calc(100% - 90px);
      padding-top: 30px;
      margin: auto;
      background-color: white;
    }
  }
  &__dialog {
    width: 100%;
    &-header {
      $header: &;
      display: flex;
      padding: 10px;
      background-color: rgb(233, 233, 233);
      border-bottom: 1px solid rgb(216, 216, 216);

      &-avatar {
        position: relative;
        flex: 0 0 50px;
        width: 50px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      &--online {
        #{$header}-avatar {
          &::before {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            content: '';
            background-image: url('check.png');
            background-size: 15px;
            border-radius: 30px;
            width: 15px;
            height: 15px;
          }
        }
      }
      &-fullname {
        margin: 10px 0 0 10px;
      }
    }

    &-message {
      background-color: rgb(244, 244, 244);
      overflow: auto;
      height: calc(100% - 178px);
    }

    &-input {
      background-color: rgb(233, 233, 233);
      padding: 20px;
    }
  }
}
